<div class='header'>
  <p></p>
</div>

<div class="page-header">
  <!--
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>
  </nav>
  -->
  <h1 class="text-muted">Timeboxer</h1>
</div>
