<div class="jumbotron">
  <!-- h1>Timeboxer</h1 -->
  <p class="lead">Preencha todas as informações disponíveis sobre o projeto e observe o gráfico gerado abaixo</p>
  <img src="./assets/boxer.jpg" style="width:500px;height:600px;">
  <%= render 'form', burnup: @burnup %>
</div>

<%= column_chart @burnup.build_data, id: 'burnup', width: "1200px", height: "500px" %>

<script type="text/javascript">
  var canvas = $('canvas')[0];
  var context = canvas.getContext('2d');
  var timebox_cicles = <%= @burnup.timebox_cicles %>;
  var max_of_weeks = <%= @burnup.max_of_weeks %>;

  function drawTimeBox(){
    context.beginPath();
    context.moveTo(calculate_x_for_timebox(), 48);
    context.lineTo(calculate_x_for_timebox(),439);
    context.fillText('Time Box', calculate_x_for_timebox(), 33);
    context.stroke();
  }

  function calculate_x_for_timebox(){
    pixels_per_cicle = canvas.width / max_of_weeks;
    return pixels_per_cicle * timebox_cicles;
  }

  canvas.addEventListener('mousemove', function(evt) {
    drawTimeBox();
  }, false);

  drawTimeBox();

</script>
